.full {
            
  background-image: url('../images/blurd.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
 .navbar {
    background-color: #E0BBE4;
    position: fixed;
    z-index: 1;
  }
  .navbar-brand {
    font-weight: bold;
    font-size: 20px;
    color: #8971d0;
    font-family: 'Wedding', sans-serif;
  }
  .navbar-brand:hover {
    color: black;
  }
  .navbar-nav .nav-link {
    font-size: 18px;
    color: #8971d0;
    margin-left: 10px;
  }
  .navbar-nav .nav-link:hover {
    color: black;
  }
  /* hamberger icon */
  .navbar-toggler-icon {
    border: none;
    width: 20px;
    height: 3px;
    background-color: #8971d0;
    display: block;
    margin: 4px auto;
    transition: all 0.3s;
  }
  
  .navbar-toggler-icon::before,
  .navbar-toggler-icon::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #8971d0;
    transition: all 0.3s;
  }
  
  .navbar-toggler-icon::before {
    transform: translateY(-7px);
  }
  
  .navbar-toggler-icon::after {
    transform: translateY(4px);
  }
  

  .hero {
    background-image: url('../images/wall3.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 90px;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  }

  .hero h1 {
    font-size: 64px;
    margin-bottom: 20px;
  }
  .hero p {
    font-size: 24px;
  }
  .hero_title {
    font-family: 'Wedding', sans-serif;
}
  .hero_desc {
    font-family: 'Wedding', sans-serif;
}
  .hero_note {
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Wedding', sans-serif;
  }
  .btn {
    background-color: #E0BBE4;
    color: #8971d0;
    text-align: center;
  }
  .btn:hover {
    color: black;
  }

/* About Us */
.text-center {
    font-family: 'Wedding', sans-serif;
    padding-top: 40px;
}
/* About image css */
.imageAboutPage {
    width: 100%;
    border-radius: 25px;
    
}
.schedule_note {
  font-family: sans-serif;
}
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* SAM */
.card-title {
    text-align: center;
}
.card-img-top {
    height: 200px;
    width: 200px;
}
.card {
  border-radius: 20px;
}
/* Activities */
.card-img-top {
    height: 200px;
    width: 200px;
    border-radius: 20px;
}
.card-title {
    text-align: center;
}
.link {
    font-family: sans-serif;
    text-align: center;
}
/* the venue */
.venue_note{
  font-family: 'Wedding', sans-serif;
  text-align: center;
}
.venue_note {
  margin-bottom: 50px;
}
/* spacing on all sections */
#AboutUs, #SAM, #Activities in QT , #TheVenue {
  margin-top: 10px;
  padding-top: 10px;

}
/* footer */
.social-icons {
  font-size: 36px;
  cursor: pointer;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-twitch:hover {
  color: black;
}

footer {
  font-size: 14px;
  position: fixed;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  background-color: #E0BBE4;
  display: flex;
  justify-content: space-between;
}
.try_footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45px; /* adjust this value as needed */
  background-color: #E0BBE4;
  color: black;
  text-align: center;
  line-height: 10px;
}

.left {
  text-align: left;
  margin-left: 20px;
}

.right {
  text-align: right;
  margin-right: 20px;
}

footer p {
  margin: 0;
}
/* loading style */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading:after {
  content: "";
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: loading 1.2s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  display: none;
}
/* phothos */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  flex: 0 1 calc(25% - 10px);
  margin-bottom: 20px;
  position: relative;
}

.item img {
  display: block;
  width: 100%;
  height: auto;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.item:hover .caption {
  opacity: 1;
}
