
.full {
            
  background-image: url('../images/blurd.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
 .navbar {
    background-color: #E0BBE4;
    position: fixed;
    z-index: 1;
  }
  .navbar-brand {
    font-weight: bold;
    font-size: 20px;
    color: #8971d0;
    font-family: 'Wedding', sans-serif;
  }
  .navbar-brand:hover {
    color: black;
  }
  .navbar-nav .nav-link {
    font-size: 18px;
    color: #8971d0;
    margin-left: 10px;
  }
  .navbar-nav .nav-link:hover {
    color: black;
  }
  /* hamberger icon */
  .navbar-toggler-icon {
    border: none;
    width: 20px;
    height: 3px;
    background-color: #8971d0;
    display: block;
    margin: 4px auto;
    transition: all 0.3s;
  }
  
  .navbar-toggler-icon::before,
  .navbar-toggler-icon::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #8971d0;
    transition: all 0.3s;
  }
  
  .navbar-toggler-icon::before {
    transform: translateY(-7px);
  }
  
  .navbar-toggler-icon::after {
    transform: translateY(4px);
  }
  

  .hero {
    background-image: url('../images/wall3.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 90px;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  }

  .hero h1 {
    font-size: 64px;
    margin-bottom: 20px;
  }
  .hero p {
    font-size: 24px;
  }
  .hero_title {
    font-family: 'Wedding', sans-serif;
}
  .hero_desc {
    font-family: 'Wedding', sans-serif;
}
  .hero_note {
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Wedding', sans-serif;
  }
  .btn {
    background-color: #E0BBE4;
    color: #8971d0;
    text-align: center;
  }
  .btn:hover {
    color: black;
  }

/* About Us */
.text-center {
    font-family: 'Wedding', sans-serif;
    padding-top: 40px;
}
.about_note {
  text-align: center;
  font-size: 25px;
  margin-top: 140px;

}
/* About image css */
.imageAboutPage {
    width: 100%;
    border-radius: 55px;
    
}
.schedule_note {
  font-family: sans-serif;
}
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* SAM */
.card-title {
    text-align: center;
}
.card-img-top {
    height: 200px;
    width: 200px;
}
.card {
  border-radius: 20px;
}
/* Activities */
.card-img-top {
    height: 200px;
    width: 200px;
    border-radius: 20px;
}
.card-title {
    text-align: center;
}
.link {
    font-family: sans-serif;
    text-align: center;
}
/* the venue */
.venue_note{
  font-family: 'Wedding', sans-serif;
  text-align: center;
}
.venue_note {
  margin-bottom: 50px;
}
/* spacing on all sections */
#About, #Snippet, #SAM, #Activities in QT , #TheVenue {
  margin-top: 20px;
  padding-top: 20px;

}
/* footer */
.social-icons {
  font-size: 36px;
  cursor: pointer;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-twitch:hover {
  color: black;
}

footer {
  font-size: 14px;
  position: fixed;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  background-color: #E0BBE4;
  display: flex;
  justify-content: space-between;
}
.try_footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45px; /* adjust this value as needed */
  background-color: #E0BBE4;
  color: black;
  text-align: center;
  line-height: 10px;
}

.left {
  text-align: left;
  margin-left: 20px;
}

.right {
  text-align: right;
  margin-right: 20px;
}

footer p {
  margin: 0;
}
/* photos */

  
.photo{
  padding: 75px 0;
  margin: 0 auto;
  width: 1140px;
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
  border-radius: 20px;
  
}
.item:hover{
  flex: 15;
}

.item-1 { 
  background-image: url('../images/t9.jpeg');
}

.item-2 { 
  background-image: url('../images/t8.jpeg');
}

.item-3 { 
  background-image: url('../images/t7.jpeg');
}

.item-4 { 
  background-image: url('../images/t6.JPG');
}

.item-5 { 
  background-image: url('../images/t5.JPG');
}
.item-6 { 
  background-image: url('../images/t0.JPG');
}

.item-7 { 
  background-image: url('../images/t11.jpeg');
}

.item-8 { 
  background-image: url('../images/t12.jpeg');
}

.item-9 { 
  background-image: url('../images/t13.jpeg');
}

.item-0 { 
  background-image: url('../images/t14.jpeg');
}
.item-11 { 
  background-image: url('../images/t15.jpeg');
}
